# 🔥 Ignore dataset folders
data/
dataset/
*.zip
*.tar
*.gz

# 🔥 Ignore large model files everywhere
*.h5
*.pt
*.pth
*.ckpt

# ✅ Allow only main final model inside models folder
!models/
!models/mobilenetv2_wildfire.h5
!models/.gitkeep

# 🔥 Ignore uploads
app/uploads/

# 🔥 Ignore notebooks checkpoints
.ipynb_checkpoints/

# 🔥 Python cache
__pycache__/
*.pyc
*.pyo

# 🔥 Virtual environment
venv/
env/

# 🔥 OS files
.DS_Store
Thumbs.db

# 🔥 Logs
*.log